@font-face {
	font-family: segoe;
	src: url(../../public/fonts/Segoe.ttf);
}

@font-face {
	font-family: segoe;
	src: url(../../public/fonts/SegoeBold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: segoe;
	src: url(../../public/fonts/SegoeBoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: segoe;
	src: url(../../public/fonts/SegoeItalic.ttf);
	font-style: italic;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'segoe';
	line-height: 150%;
}

a {
	text-decoration: none;
}

button, a {
	cursor: pointer;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
